<div class="row">
  <div class="col-auto">
    <h2>Hi {{username}}! </h2>
  </div>
</div>
<br>
{{#if posts.length}}
<div class="card flex-column">
  {{#each posts as |post|}}

  {{> AllUserPosts post}}
  {{/each}}
</div>
{{/if}}


  <footer class="footer flex-row justify-center">
    <a href="/dashboard/newPost">➕ New Post</a>
  </footer>
